body{
  background-image: url("https://pngimage.net/wp-content/uploads/2018/05/background-login-png-5.png");

background-size: 100% 100%;
}     
    form { 
        border: 3px solid #f1f1f1; 
    
         width: 400px;
max-height:100%;
    } 
    
      
    input[type=text], 
    input[type=password] { 
        width: 100%; 
        padding: 12px 20px; 
        margin: 8px 0; 
        display: inline-block; 
        border: 1px solid #ccc; 
        box-sizing: border-box; 
    } 
  
      
    button { 
        background-color: #4CAF50; 
        color: white; 
        padding: 14px 20px; 
        margin: 4px 0; 
        border: none; 
        cursor: pointer; 
       
width: 50%;
    } 
   
     .buton {
        background-color: #ff3c3c;
        border: none;
        color: white;
        padding: 14px 20px;
        text-align: center;
        width: 50%;
        display: inline-block;
       margin: 8px 0;
        cursor: pointer;
}  
    button:hover { 
        opacity: 0.8; 
    } 
    .cancelbtn { 
        width: auto; 
        padding: 10px 18px; 
        background-color: #f44336; 
    } 

      
  
      
  
      
    .container { 

        margin: 0px auto;
        padding: 20px; 
border: 2px solid black;
    } 
    .container1 {
  
        margin: 0px auto;
        padding: 10px;
        background: #ffffff;
        position:absolute;
        left: 50%;
        top: 50%;

        transform: translate(-50% ,-50%);

       
 
}


h1
{

align: center;
color:white;
font-family:Monotype Corsiva;
font-size:40px;
}
      
    span.psw
 { 
        float: right; 
   } 