
@keyframes example {
  from {color:white}
  to {color:navy}
}

@keyframes slidein {
  from {
    margin-left: 50%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#navbar {
  overflow: hidden;
  background-color: 	navy;
 margin: 0 auto; 
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.jumbotron{
 width: 100%;
 max-height: 100%;
  margin: 0 auto;  
  padding: 0 15px; 
  max-width: 100%; 
  background-color: #e9ebf2;
 background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2013/12/30/209803/c445e31b369458f125cf374956d884f0.jpg");
 background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}





.jumbotron h1 { 
  text-align: center; 
 margin: 0 auto;
padding: 10px 15px; 
  font-family: 'Elephant';
  font-size: 55;
  text-transform: uppercase;
animation-duration: 5s;
  animation-name: slidein;

}

   button { 
        border: 2px solid navy;
  border-radius: 5px;
  background-color: #dff0e7;
  
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;

  color: navy;
transition: transform 2s;
    } 

#header button:hover {
  
  transform: rotate(360deg);
}

table {
    width: 100%;
    border-collapse:collapse;
    margin: auto;
    background-color: #A4A4A4;
    
    table-layout: fixed;
}

td input {
    width: 100%;
    box-sizing: border-box;
}

td textarea {
    width: 100%;
    box-sizing: border-box;
}



#image img{
        max-width: 100%;
        max-height: 100%;
 text-align: center;
        display: block;
border: 3px solid black;

    }

a:hover {
  background-color:#B0E0E6;
color: red;

}
a:hover p {
  
color: black;

}

#cf {
  position:relative;
  height:65%;
  width:50%;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}
.fa {
 

  width: 50px;
  text-align: center;
  text-decoration: none;
margin-top:5px;
max-height: 100%;
position:relative;

}

.fa-facebook 
.fa-instagram 
.fa-twitter {
  color: white;
}

.fade {
 
  animation-name: fade;
  animation-duration: 1.5s;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}




.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}





#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: navy;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
